# Analytics Vidhya - LTFS Data Science FinHack 2 - 0.6v
18-01-2020 12:00 AM to 26-01-2020 11:59 PM

## Problem Statement

LTFS receives a lot of requests for its various finance offerings that include housing loan, two-wheeler loan, real estate financing and micro loans. The number of applications received is something that varies a lot with season. Going through these applications is a manual process and is tedious. Accurately forecasting the number of cases received can help with resource and manpower management resulting into quick response on applications and more efficient processing.

You have been appointed with the task of forecasting daily cases for next 3 months for 2 different business segments at the country level keeping in consideration the following major Indian festivals (inclusive but not exhaustive list): Diwali, Dussehra, Ganesh Chaturthi, Navratri, Holi etc. (You are free to use any publicly available open source external datasets). Some other examples could be:

Weather
Macroeconomic variables
 Note that the external dataset must belong to a reliable source.

## Importing Packages

In [251]:
import pandas as pd
import numpy as np
import os
import plotly.graph_objects as go
import re
import seaborn as sns
import matplotlib.pyplot as plt
from calendar import monthrange

### Basic Setups

#### Setting Working Directory

In [252]:
print('Current working Directory',os.getcwd())#Find out your current working directory
path = 'D:\\PrivateProjects\\LTFS\\' #setting path variable
os.chdir(path) # Changing to path's wk dir
print('Changed Working Directory',os.getcwd())#Find out your (changed) current working directory

Current working Directory D:\PrivateProjects\LTFS
Changed Working Directory D:\PrivateProjects\LTFS

#### Increase the cell size

In [253]:
# To increase the size of the cell
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))  # To change the cell size

### Setting Display size
pd.set_option('max_columns', 200)
pd.set_option('max_rows', 300)

#### User defined functions

In [254]:
#From fastai's module
def add_datepart(df, fldname, drop=True):
    fld = df[fldname]
    if not np.issubdtype(fld.dtype, np.datetime64):
        df[fldname] = fld = pd.to_datetime(fld, infer_datetime_format=True)
    targ_pre = re.sub('[Dd]ate$', '', fldname)
    for n in ('Year', 'Month', 'Week', 'Day', 'Dayofweek', 'Dayofyear',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start', 'Is_year_end', 'Is_year_start'):
        df[targ_pre+n] = getattr(fld.dt,n.lower())
    df[targ_pre+'Elapsed'] = fld.astype(np.int64) // 10**9
    if drop: df.drop(fldname, axis=1, inplace=True)
        
        
def printColumnInfo(df):
    template="%-8s %-30s %s"
    print(template % ("Type", "Column Name", "Example Value"))
    print("-"*53)
    for c in df.columns:
        print(template % (df[c].dtype, c, df[c].iloc[1]) )
        
#To get over all idea about the columns in dataset like count of unique values, type, % of missing values

def describe_df(df):
    stats = []
    for col in df.columns:
        stats.append((col, df[col].nunique(), df[col].isnull().sum() * 100 / df.shape[0], df[col].value_counts(normalize=True, dropna=False).values[0] * 100, df[col].dtype))
    
    stats_df = pd.DataFrame(stats, columns=['Feature', 'Unique_values', 'Percentage of missing values', 'Percentage of values in the biggest category', 'type'])
    stats_df.sort_values('Percentage of missing values', ascending=False)
    return stats_df

### Importing dataset

In [255]:
#Importing train csv file
df_raw_train_path =  (path +'data\\'+'train.csv') # Setting path for respective file
df_raw_train = pd.read_csv(df_raw_train_path) # importing train file
#del df_raw_train_path # deleting the path variable


#Importing test csv file
df_raw_test_path =  (path +'data\\'+'test.csv') # Setting path for respective file
df_raw_test = pd.read_csv(df_raw_test_path) # importing test file
#del df_raw_test_path # deleting the path variable

#### BACKUPS

In [256]:
df_raw_train_backup =    df_raw_train.copy()
df_raw_test_backup =    df_raw_test.copy()

### Analysis & Insights gaining

#### Looking through the files

##### Training data

In [257]:
print('Training Data shape',df_raw_train.shape,'\n')
printColumnInfo(df_raw_train)
df_raw_train.head()

Training Data shape (80402, 6)

Type     Column Name                    Example Value
-----------------------------------------------------
object   application_date               2017-04-03
int64    segment                        1
float64  branch_id                      1.0
object   state                          WEST BENGAL
object   zone                           EAST
float64  case_count                     5.0

  application_date  segment  branch_id        state  zone  case_count
0       2017-04-01        1        1.0  WEST BENGAL  EAST        40.0
1       2017-04-03        1        1.0  WEST BENGAL  EAST         5.0
2       2017-04-04        1        1.0  WEST BENGAL  EAST         4.0
3       2017-04-05        1        1.0  WEST BENGAL  EAST       113.0
4       2017-04-07        1        1.0  WEST BENGAL  EAST        76.0

##### Testing data

In [258]:
print('Testing Data shape',df_raw_test.shape,'\n')
printColumnInfo(df_raw_test)
df_raw_test.head()

Testing Data shape (180, 3)

Type     Column Name                    Example Value
-----------------------------------------------------
int64    id                             2
object   application_date               2019-07-07
int64    segment                        1

   id application_date  segment
0   1       2019-07-06        1
1   2       2019-07-07        1
2   3       2019-07-08        1
3   4       2019-07-09        1
4   5       2019-07-10        1

In [259]:
#Minimum & Maximum of dates for each segment
print(df_raw_train.groupby(['segment']).agg({'application_date': [np.min,np.max]}).reset_index())

  segment application_date
                      amin        amax
0       1       2017-04-01  2019-07-05
1       2       2017-04-01  2019-07-23

In [260]:
df_raw_train.application_date = pd.to_datetime(df_raw_train.application_date)
df_raw_test.application_date = pd.to_datetime(df_raw_test.application_date)

In [261]:
#Lets seperate the training data based on segment
df_raw_train_seg1 = df_raw_train[df_raw_train.segment == 1]
df_raw_train_seg2 = df_raw_train[df_raw_train.segment == 2]

In [262]:
# Lets see if we have any missing values
print(df_raw_train_seg1.isna().sum())
print(df_raw_train_seg2.isna().sum())

application_date    0
segment             0
branch_id           0
state               0
zone                0
case_count          0
dtype: int64
application_date        0
segment                 0
branch_id           13504
state                   0
zone                13504
case_count              0
dtype: int64

We have missing values in branch_id & in zone for segment 2 df alone, anyway for now since our testing data is at country level lets groupby using application date

In [263]:
df_raw_train_seg1 = df_raw_train_seg1.groupby('application_date')['case_count'].sum().reset_index()
df_raw_train_seg2 = df_raw_train_seg2.groupby('application_date')['case_count'].sum().reset_index()

In [264]:
df_raw_train_seg1.set_index('application_date', inplace=True)
df_raw_train_seg2.set_index('application_date', inplace=True)

In [265]:
print('Days in Segment 1',df_raw_train_seg1.index.max() - df_raw_train_seg1.index.min())
print('Unique Dates in Segment 1',df_raw_train_seg1.index.nunique())
print('Days in Segment 2',df_raw_train_seg2.index.max() - df_raw_train_seg2.index.min())
print('Unique Dates in Segment 2',df_raw_train_seg2.index.nunique())

Days in Segment 1 825 days 00:00:00
Unique Dates in Segment 1 806
Days in Segment 2 843 days 00:00:00
Unique Dates in Segment 2 844

We can see that we have missing dates, lets fill those first

###### Missing dates for each segment

In [266]:
#Missing dates in segment 1
pd.date_range(start = df_raw_train_seg1.index.min(), end = df_raw_train_seg1.index.max() ).difference(df_raw_train_seg1.index)

DatetimeIndex(['2017-04-02', '2017-04-06', '2017-04-08', '2017-04-09',
               '2017-04-10', '2017-04-11', '2017-05-06', '2017-07-03',
               '2017-07-04', '2017-07-08', '2017-07-09', '2017-08-02',
               '2017-09-01', '2017-09-02', '2017-09-03', '2017-09-06',
               '2018-01-07', '2018-02-04', '2018-03-02', '2018-03-04'],
              dtype='datetime64[ns]', freq=None)

In [267]:
#Missing dates in segment 2
pd.date_range(start = df_raw_train_seg2.index.min(), end = df_raw_train_seg2.index.max() ).difference(df_raw_train_seg2.index)

DatetimeIndex([], dtype='datetime64[ns]', freq='D')

###### Insights :  
-  We have totally 5 columns in training (excluding the target column 'case_count') but only 2 columns in test (excluding the id column)
        - Missing columns in test are [branch_id, state, zone]
   This means we have to train the model at country level & not at branch_id level
- The training data for segment 1 is from 2017-04-01 to 2019-07-05,825 days, we have missing dates
- The training data for segment 2 is from 2017-04-01 to 2019-07-23,843 days

###### Lets include the missing dates for each sement

In [268]:
# resetting the index (application_date)
df_raw_train_seg1.reset_index(inplace=True)
df_raw_train_seg2.reset_index(inplace=True)

In [269]:
seg1_dates = pd.DataFrame(pd.date_range(start = df_raw_train_seg1.application_date.min(), end = df_raw_train_seg1.application_date.max() ))
seg1_dates.columns = ['application_date']

seg2_dates = pd.DataFrame(pd.date_range(start = df_raw_train_seg2.application_date.min(), end = df_raw_train_seg2.application_date.max() ))
seg2_dates.columns = ['application_date']

In [270]:
df_raw_train_seg1 = pd.merge(seg1_dates, df_raw_train_seg1,how = 'left', on ='application_date')
df_raw_train_seg2 = pd.merge(seg2_dates, df_raw_train_seg2,how = 'left', on ='application_date')

In [271]:
#Check if we have any more missing dates
df_raw_train_seg1.set_index('application_date', inplace=True)
df_raw_train_seg2.set_index('application_date', inplace=True)

print(pd.date_range(start = min(df_raw_train_seg1.index), end = max(df_raw_train_seg1.index) ).difference(df_raw_train_seg1.index))
print(pd.date_range(start = min(df_raw_train_seg2.index), end = max(df_raw_train_seg2.index) ).difference(df_raw_train_seg2.index))

DatetimeIndex([], dtype='datetime64[ns]', freq='D')
DatetimeIndex([], dtype='datetime64[ns]', freq='D')

In [272]:
#Filling the missing values using linear method
df_raw_train_seg1['case_count'].interpolate(method='linear',inplace = True)

#### Now its time to make the validation set in accordance with the test set to make sure the model validation is done right before predicting the model on the original test set

###### How we can create the validation set?

In [273]:
df_raw_test_seg1 = df_raw_test[df_raw_test.segment == 1]
df_raw_test_seg2 = df_raw_test[df_raw_test.segment == 2]

In [280]:
print('Segment 1 train data from ', df_raw_train_seg1.index.min(),'to',df_raw_train_seg1.index.max())
print('Segment 1 test data from ', df_raw_test_seg1.application_date.min(),'to',df_raw_test_seg1.application_date.max())
print('Segment 1 test number of days', df_raw_test_seg1.application_date.min()-df_raw_test_seg1.application_date.max())

Segment 1 train data from  2017-04-01 00:00:00 to 2019-07-05 00:00:00
Segment 1 test data from  2019-07-06 00:00:00 to 2019-09-30 00:00:00
Segment 1 test number of days -86 days +00:00:00

For segment 1 we have data up to 5th of July and we need to predict for next 86 days

In [281]:
print('Segment 2 train data from ', df_raw_train_seg2.index.min(),'to',df_raw_train_seg2.index.max())
print('Segment 2 test data from ', df_raw_test_seg2.application_date.min(),'to',df_raw_test_seg2.application_date.max())
print('Segment 2 test number of days', df_raw_test_seg2.application_date.min()-df_raw_test_seg2.application_date.max())

Segment 2 train data from  2017-04-01 00:00:00 to 2019-07-23 00:00:00
Segment 2 test data from  2019-07-24 00:00:00 to 2019-10-24 00:00:00
Segment 2 test number of days -92 days +00:00:00

For segment 2 we have data up to 23rd of July and we need to predict for next 92 days

In [283]:
df_raw_train_seg1

                  case_count
application_date
2017-04-01             299.0
2017-04-02             170.5
2017-04-03              42.0
2017-04-04              23.0
2017-04-05            1530.0
2017-04-06            1435.5
2017-04-07            1341.0
2017-04-08            1366.4
2017-04-09            1391.8
2017-04-10            1417.2
2017-04-11            1442.6
2017-04-12            1468.0
2017-04-13            1340.0
2017-04-14            1330.0
2017-04-15             981.0
2017-04-16             409.0
2017-04-17            1515.0
2017-04-18            1442.0
2017-04-19            1404.0
2017-04-20            1350.0
2017-04-21            1390.0
2017-04-22            1060.0
2017-04-23             380.0
2017-04-24            1626.0
2017-04-25            1450.0
2017-04-26            1546.0
2017-04-27            1710.0
2017-04-28            1927.0
2017-04-29            1355.0
2017-04-30            6472.0
2017-05-01            1472.0
2017-05-02             198.0
2017-05-03              76.0
2017-05-04             165.0
2017-05-05            2457.0
2017-05-06            1441.5
2017-05-07             426.0
2017-05-08               4.0
2017-05-09              51.0
2017-05-10            1582.0
2017-05-11            1423.0
2017-05-12            1533.0
2017-05-13            1125.0
2017-05-14             338.0
2017-05-15            1733.0
2017-05-16            1500.0
2017-05-17            1632.0
2017-05-18            1530.0
2017-05-19            1576.0
2017-05-20            1220.0
2017-05-21             458.0
2017-05-22            1746.0
2017-05-23            1615.0
2017-05-24            1623.0
2017-05-25            1529.0
2017-05-26            1587.0
2017-05-27            1277.0
2017-05-28             524.0
2017-05-29            1935.0
2017-05-30            1732.0
2017-05-31            6740.0
2017-06-01               3.0
2017-06-02             642.0
2017-06-03             497.0
2017-06-04             408.0
2017-06-05            1696.0
2017-06-06             193.0
2017-06-07            1736.0
2017-06-08            1445.0
2017-06-09            2061.0
2017-06-10            1549.0
2017-06-11             667.0
2017-06-12            2176.0
2017-06-13            1972.0
2017-06-14            2053.0
2017-06-15            1958.0
2017-06-16            2111.0
2017-06-17            1744.0
2017-06-18             706.0
2017-06-19            2443.0
2017-06-20            2127.0
2017-06-21            2363.0
2017-06-22            2495.0
2017-06-23            2639.0
2017-06-24            2582.0
2017-06-25            1647.0
2017-06-26            1774.0
2017-06-27            1935.0
2017-06-28            2168.0
2017-06-29            2291.0
2017-06-30            9750.0
2017-07-01            1811.0
2017-07-02               5.0
2017-07-03             438.0
2017-07-04             871.0
2017-07-05            1304.0
2017-07-06             154.0
2017-07-07             495.0
2017-07-08             956.0
2017-07-09            1417.0
2017-07-10            1878.0
2017-07-11            1510.0
2017-07-12            1713.0
2017-07-13            1540.0
2017-07-14            1552.0
2017-07-15            1185.0
2017-07-16             602.0
2017-07-17            1842.0
2017-07-18            1568.0
2017-07-19            1592.0
2017-07-20            1558.0
2017-07-21            1623.0
2017-07-22            1087.0
2017-07-23             450.0
2017-07-24            1774.0
2017-07-25            1540.0
2017-07-26            1586.0
2017-07-27            1502.0
2017-07-28            1710.0
2017-07-29            1375.0
2017-07-30             681.0
2017-07-31           11594.0
2017-08-01             921.0
2017-08-02             461.5
2017-08-03               2.0
2017-08-04               1.0
2017-08-05               4.0
2017-08-06               3.0
2017-08-07            1893.0
2017-08-08            1850.0
2017-08-09            2010.0
2017-08-10            2037.0
2017-08-11            1934.0
2017-08-12            1838.0
2017-08-13             965.0
2017-08-14            2888.0
2017-08-15            1229.0
2017-08-16            2269.0
2017-08-17            2012.0
2017-08-18            2141.0
2017-08-19            1723.0
2017-08-20             813.0
2017-08-21            2344.0
2017-08-22            2063.0
2017-08-23            2504.0
2017-08-24            2693.0
2017-08-25            2358.0
2017-08-26            1589.0
2017-08-27             839.0
2017-08-28            2301.0
...                      ...
2019-02-06            3634.0
2019-02-07            3176.0
2019-02-08            5498.0
2019-02-09             336.0
2019-02-10            1862.0
2019-02-11            3766.0
2019-02-12            3317.0
2019-02-13            2764.0
2019-02-14            3327.0
2019-02-15            3371.0
2019-02-16            2407.0
2019-02-17            1634.0
2019-02-18            3531.0
2019-02-19            3423.0
2019-02-20            3250.0
2019-02-21            3167.0
2019-02-22            3127.0
2019-02-23            1980.0
2019-02-24            1519.0
2019-02-25            3704.0
2019-02-26            2985.0
2019-02-27            3324.0
2019-02-28            5196.0
2019-03-01            2607.0
2019-03-02             533.0
2019-03-03            1619.0
2019-03-04            4596.0
2019-03-05            2947.0
2019-03-06            3163.0
2019-03-07            3189.0
2019-03-08            3488.0
2019-03-09            2491.0
2019-03-10            1526.0
2019-03-11            3968.0
2019-03-12            3461.0
2019-03-13            3535.0
2019-03-14            3269.0
2019-03-15            3418.0
2019-03-16            2341.0
2019-03-17            1869.0
2019-03-18            4233.0
2019-03-19            3609.0
2019-03-20            3885.0
2019-03-21            1357.0
2019-03-22            3032.0
2019-03-23            2790.0
2019-03-24            1723.0
2019-03-25            3996.0
2019-03-26            3474.0
2019-03-27            3593.0
2019-03-28            3439.0
2019-03-29            3528.0
2019-03-30            3063.0
2019-03-31            4871.0
2019-04-01             772.0
2019-04-02            3164.0
2019-04-03            3880.0
2019-04-04            3742.0
2019-04-05            4424.0
2019-04-06            4187.0
2019-04-07            2030.0
2019-04-08            4308.0
2019-04-09            3150.0
2019-04-10            3672.0
2019-04-11            3087.0
2019-04-12            3887.0
2019-04-13            3102.0
2019-04-14            1925.0
2019-04-15            3477.0
2019-04-16            2856.0
2019-04-17            3251.0
2019-04-18            2602.0
2019-04-19            3271.0
2019-04-20            2125.0
2019-04-21            1406.0
2019-04-22            3629.0
2019-04-23            2445.0
2019-04-24            3171.0
2019-04-25            2951.0
2019-04-26            2910.0
2019-04-27            2160.0
2019-04-28            1350.0
2019-04-29            3274.0
2019-04-30            2425.0
2019-05-01            2317.0
2019-05-02            3383.0
2019-05-03            3025.0
2019-05-04            2432.0
2019-05-05            1538.0
2019-05-06            3967.0
2019-05-07            3845.0
2019-05-08            2826.0
2019-05-09            3131.0
2019-05-10            3085.0
2019-05-11            2453.0
2019-05-12            1117.0
2019-05-13            3720.0
2019-05-14            3257.0
2019-05-15            3416.0
2019-05-16            3312.0
2019-05-17            3239.0
2019-05-18            2543.0
2019-05-19            1361.0
2019-05-20            3927.0
2019-05-21            3175.0
2019-05-22            3510.0
2019-05-23            2808.0
2019-05-24            3273.0
2019-05-25            2527.0
2019-05-26            1634.0
2019-05-27            3880.0
2019-05-28            3245.0
2019-05-29            3519.0
2019-05-30            3696.0
2019-05-31            3717.0
2019-06-01            2684.0
2019-06-02            1948.0
2019-06-03            4520.0
2019-06-04            4757.0
2019-06-05            3380.0
2019-06-06            3768.0
2019-06-07            3847.0
2019-06-08            2724.0
2019-06-09            1700.0
2019-06-10            4174.0
2019-06-11            3586.0
2019-06-12            3786.0
2019-06-13            3623.0
2019-06-14            3498.0
2019-06-15            2776.0
2019-06-16            1760.0
2019-06-17            4279.0
2019-06-18            3301.0
2019-06-19            3810.0
2019-06-20            3538.0
2019-06-21            3432.0
2019-06-22            2512.0
2019-06-23            1633.0
2019-06-24            3804.0
2019-06-25            3154.0
2019-06-26            3443.0
2019-06-27            3500.0
2019-06-28            3519.0
2019-06-29            2894.0
2019-06-30            1951.0
2019-07-01            3650.0
2019-07-02            3212.0
2019-07-03            3824.0
2019-07-04            4240.0
2019-07-05              13.0

[826 rows x 1 columns]